Repository women-in-42-study/Algorithm, pull requests merged in 2023-05, with the labels that each got.

#3 [jeyoon] Programmers_올바른 괄호
  Programmers/올바른_괄호/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#4 [jeongmin] BOJ_인사성 밝은 곰곰이
  BOJ/25192.인사성_밝은_곰곰이/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#6 [eunbikim] Programmers_약수의 합
  Programmers/약수의_합/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#5 [jeyoon] Programmers_숫자의 표현
  Programmers/숫자의_표현/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#7 [jeongmin] BOJ_붙임성 좋은 총총이
  BOJ/26069.붙임성_좋은_총총이/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#11 [eunbikim] Programmers_콜라츠 추측
  Programmers/서울에서_김서방_찾기/eunbikim.cpp
  Programmers/콜라츠_추측/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#10 [eunbikim] Programmers_서울에서 김서방 찾기
  Programmers/서울에서_김서방_찾기/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#12 [eunbikim] Programmers_제일 작은 수 제거
  Programmers/제일_작은_수_제거하기/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#13 [jeongmin] BOJ_단어 뒤집기 2
  BOJ/17413.단어_뒤집기_2/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#14 [jeyoon] Programmers_다음 큰 숫자
  Programmers/다음_큰_숫자/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#16 [jeongmin] BOJ_합 구하기
  BOJ/11441.합_구하기/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#18 [jeongmin] BOJ_ 차이를 최대로
  BOJ/10819.차이를_최대로/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#19 [jeyoon] Programmers_짝지어 제거하기
  Programmers/짝지어_제거하기/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#20 [eunbikim] Programmers_없는 숫자 더하기
  Programmers/없는_숫자_더하기/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#24 [jeyoon] Programmers_삼총사
  Programmers/삼총사/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#25 [jeongmin] BOJ_부등호
  BOJ/2529.부등호/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#26 [jeyoon] Programmers_영어 끝말잇기
  Programmers/영어_끝말잇기/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#22 [eunbikim] Programmers_문자열 내림차순으로 배치하기
  Programmers/문자열_내림차순으로_배치하기/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#23 [eunbikim] Programmers_약수의 개수와 덧셈
  Programmers/약수의_개수와_덧셈/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#27 [jeyoon] Programmers_약수의 개수와 덧셈
  Programmers/약수의_개수와_덧셈/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#28 [jeyoon] Programmers_카펫
  Programmers/카펫/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#30 [jeyoon] Programmers_크기가 작은 부분 문자열
  Programmers/크기가_작은_부분_문자열/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#31 [eunbikim] Programmers_부족한 금액 계산하기
  Programmers/부족한_금액_계산하기/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#32 [eunbikim] Programmers_최대공약수와 최소공배수
  Programmers/최대공약수와_최소공배수/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#29 [jeongmin] BOJ_베스트셀러
  BOJ/1302.베스트셀러/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#35 [eunbikim] Programmers_같은 숫자는 싫어
  Programmers/같은_숫자는_싫어/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#33 [jeongmin] BOJ_블로그
  BOJ/21921.블로그/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#36 [eunbikim] Programmers_3진법 뒤집기
  Programmers/3진법_뒤집기/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#37 [eunbikim] Programmers_예산
  Programmers/예산/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#40 [eunbikim] Programmers_삼총사
  Programmers/삼총사/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#41 [eunbikim] Programmers_시저 암호
  Programmers/시저_암호/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#38 [jeyoon] Programmers_구명보트
  Programmers/구명보트/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#39 [jeongmin] BOJ_최대공약수와 최소공배수
  BOJ/2609.최대공약수와_최소공배수/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#34 [yujelee] Leetcode_Add digit
  LeetCode/258.Add_Digits/yujelee.py
Labels: 💻 LeetCode, ✨ Python

#44 [eunbikim] Programmers_최소직사각형
  Programmers/최소직사각형/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#43 [eunbikim] Programmers_비밀지도
  Programmers/비밀지도/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#46 [eunbikim] Programmers_숫자 문자열과 영단어
  Programmers/숫자_문자열과_영단어/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#42 [jeyoon] Programmers_예상 대진표
  Programmers/예상_대진표/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#47 [jeongmin] BOJ_어린 왕자
  BOJ/1004.어린_왕자/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#48 [jeongmin] BOJ_완전 이진 트리
  BOJ/9934.완전_이진_트리/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#49 [eunbikim] Programmers_문자열 내 마음대로 정렬하기
  Programmers/문자열_내_마음대로_정렬하기/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#50 [jeyoon] Programmers_점프와 순간 이동
  Programmers/점프와_순간_이동/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#52 [eunbikim] Programmers_두 개 뽑아서 더하기
  Programmers/두_개_뽑아서_더하기/eunbikim.cpp
Labels: 💻 Programmers, ✨ C++

#51 [jeyoon] Programmers_멀리 뛰기
  Programmers/멀리_뛰기/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#53 [jeongmin] BOJ_막대기
  BOJ/1094.막대기/jeongmin.py
Labels: 💻 BOJ, ✨ Python

#54 [jeyoon] Programmers_푸드 파이트 대회
  Programmers/푸드_파이트_대회/jeyoon.js
Labels: 💻 Programmers, ✨ JavaScript

#55 [jeongmin] BOJ_다리 놓기
  BOJ/1010.다리_놓기/jeongmin.py
Labels: 💻 BOJ, ✨ Python
